body {
    font-family: 'Poppins', sans-serif;
}

.body {
    margin: 0 10%;
}

.header {
    background-color: rgb(58, 54, 49);
    border-radius: 25px;
}

.header-info {
    color: white;
    display: flex;
    align-items: center;
    padding: 3%;
    padding-bottom: 0;

}

.btn button {
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
    border: 0;

}

/* options-card */
.options {
    height: 180px;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 54, 49);
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}

.options-box button {
    background-color: rgb(254, 254, 254);
    color: rgb(6, 6, 6);
    padding: 10px 15px;
    width: 200px;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
}
.options span button{
    background-color: red;
    color: white;
}

.options-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding-top: 50px;
}

.card img {
    width: 100%;
}

.card h4 {
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    padding: 5px;
    margin: 0;
}

.card {
    border: .5px solid black;
    border-radius: 10px;
}

.card-info {
    padding: 10px;
}

.icon i {
    padding-right: 10px;
    font-size: 15px;
}